    .error {
    color:red;
    font-style: italic;
    }
    .center {
    position: absolute;
    left: 30%;
    top: 40%;
    }
    .centerHigher {
        position: absolute;
        left: 30%;
        top: 20%;
    }
        td {
            border-bottom: 2px solid #EEE;
        }

        a {
            text-decoration:none;
        }

    .clientList td {
        color:blue;
    }
    .clientList a {
        color:purple;
    }